* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: .5s;
}

body {
    
    margin: 0;
    padding: 0;
    background-color: #222222;



}



main {
    padding-top: 40px;
    min-height: 85vh;
    height: auto;
    display: block;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.1)
}

.lista-directorio {
    max-width: 100vw;
    margin: 0 auto;
    list-style: none;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 50px;
    padding: 10px;


}

.card {
    background-color: #323232;
    display: grid;
    height: 250px;
    width: 200px;
    grid-template-rows: 1fr 3fr 1fr;
    color: aliceblue;
    box-shadow: 3px 3px 6px black;
    

}

.card .descripcion{
    height: 100%;
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    
    background-color: #212121;
}
.card .descripcion img{
    
    max-width: 100%;
   width: 100%;
   height: 100%;
    max-height: 100%;
    
}
.card:hover {
    background-color: #323232;
    grid-template-rows: 1fr 4fr 1fr;
    height: 260px;
    width: 210px;
    box-shadow: 6px 6px 6px black;



}
.card *:hover {
    color:  #D59F0F;
    



}

.card h3 {
    color: aliceblue;
    margin: 0;
    text-align: center;
    padding: 4%;
    display: block;
    height:auto;
    width: 100%;
    background-color: #D59F0F;
    padding-top: 5%;
    text-decoration: none;


}
.card h3:hover{
    color:  #002B7A ;
}

.card .pie {
    text-align: center;  
    padding-top: 4%;
  
    
}
.card .pie a{
    text-decoration: none;
    color: aliceblue;

}


@media only screen and (min-width:1200px) {
    .lista-directorio {
        list-style: none;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        gap: 10px;
        padding: 10px;

    }
    .lista-directorio li{
        margin: 0 auto;
    }

}


@media only screen and (max-width:1100px) {
    .lista-directorio {
        list-style: none;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;

        gap: 10px;
        padding: 10px;

    }
    .lista-directorio li{
        margin: 0 auto;
    }

}
@media only screen and (max-width:900px) {
    .lista-directorio {
        list-style: none;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 10px;


    }
    .lista-directorio li{
        margin: 0 auto;
    }

}


@media only screen and (max-width:700px) {
    .lista-directorio {
        list-style: none;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        gap: 30px;
        padding: 10px;


    }
    .lista-directorio li{
        margin: 0 auto;
    }

}


